@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #ffffff;
  background-image: url("../image/background.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

audio {
  display: none;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.1);
  width: 700px;
  overflow: hidden;
  max-width: 90%;
  line-height: 1.6;
}

#quiz {
  display: none;
}

#quiz-progress {
  width:100%;
  position: relative;
  height: 5px;
}

#quiz-progress #progress-bar {
  width:0%;
  height: 5px;
  transition: width 1s;
}

.blue-gradient {
  background: #097f97 linear-gradient(90deg, #1a6271, #097f97);
}

.blue-gradient:hover {
  background: #097f97 linear-gradient(90deg, #1a6271, #1a6271, #097f97);
}

#result {
  padding: 20px;
}

#result input {
  width: 100%;
  padding: 20px;
  font-size: 24px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  margin-top: 20px;
}

.quiz-header {
  margin: 0;
}

.result-inner,
.welcome-inner {
  padding: 20px;
}

h2 {
  padding: 2rem;
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: #1b6371;
  text-shadow: 2px 1px 10px #b8c6db;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem;
}

ul li {
  display: flex;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  margin: 0;
  cursor: pointer;
}

ul li label {
  cursor: pointer;
  flex-grow: 1;
  padding-left: 10px;
}

input[type="radio"] {
  zoom: 1.5;
  margin: auto;
}

button {
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  text-align: center;
  text-decoration: none;
}

.other-btn,
#download-btn {
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;
  border: none;
  display: block;
  max-width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
}

.other-btn {
  flex-grow: unset;
  margin-left: 10px;
}

.button-container {
  zoom:3;
  display: flex;
}

img.logo {
  position: absolute;
  top: 3vw;
  left: 3vw;
  width: 15vw;
}

#questionInfo {
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  width: 10vw;
  font-size: 20px;
}

#questionInfo div:first-child {
  border-bottom: 2px solid #000000;
  margin-bottom: 5px;
}

#questionInfo #qNumber {
  font-size: 40px;
}

#menu {
  position: absolute;
  top: 4vw;
  right: 4vw;
  z-index: 3;
}

#time {
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  width: 10vw;
  font-size: 20px;
  text-align: right;
}

#time-progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

#time div:first-child {
  border-bottom: 2px solid #000000;
  margin-bottom: 5px;
}

#time #timeLeft {
  font-size: 40px;
}

#footer {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 80vw;
  font-size: 12px;
  text-align: center;
  z-index: -1;
}

#footer img {
  height: 15px;
}

.selectedAnswer,
li:hover {
  background-color: #ebf4f6;
}

#result h2,
#welcome-message h2 {
  padding-bottom: 0;
}

#certificateContainer {
  min-width: 1920px;
  display: none;
}

.progressbar {
  width: 100%;
}

.progressbar .inner {
  height: 5px;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 40s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}
@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #1a6271;
  }
  100% {
    width: 0%;
    background: #097f97;
  }
}

#menuContents {
  margin-top: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 10px 10px rgb(100 100 100 / 10%);
  width: 300px;
}
#menuContents h2 {
  padding: 1rem;
}

.menu-inner {
  padding: 0 1rem 1rem;
}

#info {
  background: #000000;
  color: #FFFFFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.hideThis {
  display: none;
}

#loader {
  display: none;
  position: relative;
}

.certProgress {
  border-radius: 30px;
  background-color: #e4e1e2;
}

.certProgressBar {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.certProgress-moved .certProgressBar {
  background-color: #106b00;
  animation: certProgress 10s infinite;
}

@keyframes certProgress {
  0% {
    width: 0%;
    background: #68a15a;
  }

  100% {
    width: 100%;
    background: #015e01;
    box-shadow: 0 0 40px #015e01;
  }
}

.certProgressLoader {
  --p: 0;
  animation: p 10s steps(100) infinite;
  counter-reset: p var(--p);
  font-size: 2.1em;
  position: absolute;
  top: 0;
  right: 0;
  color: #000000;
  transform: translateY(-100%);
  display: none;
}

.certProgressLoader:after {
  content: counter(p) "%";
}

@keyframes p {
  90%,
  100% {
    --p: 100;
  }
}

@media screen and (max-width: 921px) {

  body {
    align-items: start;
    padding-top: 40vw;
    padding-bottom: 12vw;
  }

  h2 {
    font-size: 15px;
    padding: 1rem;
  }

  ul li {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .quiz-container {
    z-index: 2;
  }

  #questionInfo {
    top: 3vw;
    bottom: unset;
    width: 30vw;
  }

  #time {
    top: 15vw;
    left: 3vw;
    text-align: left;
    right: unset;
    bottom: unset;
    width: 30vw;
  }

  #timeLeft {
    font-size: 30px;
  }

  #time div:first-child,
  #questionInfo div:first-child{
    display: none;
  }

  #download-btn {
    zoom: 2;
  }

  img.logo {
    position: absolute;
    top: 3vw;
    left: 50%;
    height: 30vw;
    width: auto;
    transform: translateX(-50%);
  }

  .btn1 {
    zoom:0.8;
  }

  input[type="radio"] {
    min-width: 20px;
  }

}